$background-color: #ff9a8b;
$background-image: linear-gradient(
  220deg,
  #ff9a8b 0%,
  #ff6a88 55%,
  #ff99ac 100%
);
$-webkit-background-image: -webkit-linear-gradient(
  220deg,
  #ff9a8b 0%,
  #ff6a88 55%,
  #ff99ac 100%
);
$-moz-background-image: -moz-linear-gradient(
  220deg,
  #ff9a8b 0%,
  #ff6a88 55%,
  #ff99ac 100%
);
$-o-background-image: -o-linear-gradient(
  220deg,
  #ff9a8b 0%,
  #ff6a88 55%,
  #ff99ac 100%
);